# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Entornos
.venv/
env/
venv/

# Editor/SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Salidas del proyecto
ventas_por_mes.png
ventas_top5_productos.png
informe.txt
